langchain
langchain-community
langchain-core
langchain-openai
langchain-huggingface
langchain-text-splitters
pymupdf
chromadb
sentence-transformers
torchvision
streamlit
python-dotenv
requests
tiktoken
